<launch>
  <arg name="name" default="rover"/>
  <arg name="model" default="$(find rc_car)/rover_description/urdf/rover.urdf"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>

  <!-- send the robot XML to param server -->
  <param name="robot_description" 
  command="$(find xacro)/xacro $(find rc_car)/rover_description/urdf/rover.urdf" />
</launch>
