<launch>

<!--  rc_car arduino controller start  -->
<node pkg="rosserial_python" type="serial_node.py" args="/dev/arduino" name="serial_node" respawn="true" />

<!--  Razor IMU Start  -->
<arg name="razor_config_file" default="$(find rc_car)/params/my_razor.yaml" />
<node pkg="razor_imu_9dof" type="imu_node.py" name="imu_node" output="log" respawn="true" >
   <rosparam file="$(arg razor_config_file)" command="load"/>
</node>

<!--  GPS Start -->
<node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="nmea_navsat_node" respawn="true" >
   <param name="port" value="/dev/gps" />
   <param name="baud" value="4800" />
</node>

<include file="$(find rc_car)/launch/localization.launch"/>
<include file="$(find rc_car)/launch/rc_car_base_controller.launch" />

<node pkg="rc_car" type="speedometer.py" name="speedometer_node" output="log" respawn="true" />

</launch>

